<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrent Uploader</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="text-center pt-3 pb-5 ">
    <h1>Torrents Uploader</h1>
</header>
<main>
    <div class="container">
        <div class="form-container">

            <div th:if="${msg != null}" class="alert alert-danger" role="alert">
                <span th:text="${msg}"></span>
            </div>

            <form method="post" th:action="@{/upload}" th:object="${fileToUpload}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="torrentFile" class="form-label">Fichier .torrent</label>
                    <input class="form-control" type="file" id="torrentFile" accept=".torrent" th:field="*{files}"
                           multiple
                           required>
                </div>
                <div class="mb-3">
                    <label for="watchFolder" class="form-label">Répertoire de destination</label>
                    <select class="form-select" id="watchFolder" th:field="*{destinationFolder}" required>
                        <option value="">.</option>
                        <option th:each="folder : ${watchFolders}" th:value="${folder}" th:text="${folder}"></option>
                    </select>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Upload torrent</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer class="text-center pt-5 footer">
    v1.0 - Github
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>